ul.sources {
    list-style-type: none;
    padding: 0;
}

p.think-share {
    text-indent: 40px;
}

.anchor {
    padding-top: 60px;
    margin-top: -60px;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
}
